[Unit]
Description=Lauch pulseaudio
After=sound.target

[Service]
Type=oneshot
User=root
ExecStartPre=/usr/bin/gpasswd -a root audio
ExecStart=/usr/bin/pulseaudio --system

[Install]
WantedBy=multi-user.target
